.background-image {
  background-image: url('../public/img/Design-updation/Blog/1.jpg'); 
  background-size: cover;
  width: 100%;
  height: 95vh;
  padding-top: 100px;  
}

.content-details { 
  color :var(--secondary-color);
  text-align: left;
  margin-left: 40px;
  margin-right: 40%;
  }

.bloghead{
  color:var(--primary-color);
  text-align: center;
  font-size:x-large;
  font-weight: 800;
}
.blogs{
  position: relative;
  bottom: 300px;
}
.white-box {
  background-color: var(--secondary-color); 
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 0.5px solid var(--fifth-color);
  height: auto; 
  width: 60%;
  overflow: hidden;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img{
    width: 100%; 
    height: 70%;
    margin-top: 10px;
  }
}

.featured-block {
  display: inline-block;
  padding: 4px 12px;
  background-color: var(--fourth-color);
  border-radius: 10px;
  color:var(--secondary-color);
}

.featured-head {
  color: var(--third-color);
  text-align: left;
  font-size: 25px;
  margin-bottom: 5px;
}
.featured_para{
  text-align: left;
  font-size: 15px;
}
.featured_top{
  display: flex;
  align-items: center;
  margin-top: 20px;
  img{
    display: block; 
    width: 25px;
    height: 25px;
  }
  span{
    color: black;
    margin-left: 10px;
  }
}
.white-block p {
  font-size: 20px;
  margin-left: 20px;
}
.flexContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.other-blogs-start {
  margin-top: 10rem;
  margin-left: 80px;
}

.blog-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 60px;
  margin: 40px;
}

.blog-image {
  height: auto;
  width: auto;
}

.blog-container a {
  width: 350px;
  place-self: center;
  height: 100%;
  text-decoration: none;
  color: var(--third-color);
}

.blog-card {
  width: 350px;
  border: 1px solid var(--fifth-color);
  border-radius: 10px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blog_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: relative;
  bottom: 300px;
  margin: 30px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color:var(--seventh-color);
}
.background-image p{
  color :var(--secondary-color);
  text-align: center;
  font-size:28px;
  line-height: 50px;
  margin-top: 50px;
  font-weight: 600;
}
.page-link:hover {
  background-color: var(--sixth-color);
}

@media only screen and (min-width: 800px) and (max-width: 1150px){
  .blog-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 480px) and (max-width: 800px){
  .blog-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (min-width:1900px)
{
  .background-image p{
    font-size: 40px;
    text-align: center;
  }
}
@media screen and ((min-width: 1201px) and (max-width:1900px)){
  .background-image p{
    font-size: 32px;
    margin: 50px 50px 50px 50px;
  }
}
@media screen and ((min-width:1025px) and (max-width:1200px))
{
  .background_service h3{
    margin-top: 35px;
  }
  .background-image p{
    font-size: 25px;
    margin: 50px 50px 0 50px;
  }
}
@media screen and ((min-width:769px) and (max-width:1024px))
{
  .background_service h3{
    margin-top: 35px;
  }
  .background-image p{
    font-size: 23px;
    margin: 50px 50px 0 50px;
  }
  .background-image{
    background-position-x:55%;
  }
}
@media screen and ((min-width:590px) and (max-width:768px))
{
  .background_service h3{
    margin-top: 35px;
  }
  .background-image p{
    margin: 50px 50px 0 50px;
    font-size: 25px;
  }
  .background-image{
    background-position-x:45%;
  }
}
@media screen and ((min-width:480px) and (max-width:590px)){
  .background-image p{
    font-size: 22px;
    margin: 50px 50px 0 50px;
  }
  .background-image{
    background-position-x:40%;
    height: 100vh;
  }
}
@media screen and ((min-width:320px) and (max-width:480px))
{
    .background-image{
      background-position-x:35%;
    }
    .background-image p{
      font-size: 18px;
      margin: 50px 50px 0 50px;
    }
    .white-box {
      width: 90%;
    }
    .blog-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 20px;
    }
    .blog-image {
      width: 100%;
    }
    .blog-container a {
      width: 100%;
    }
    .blog-card {
      width: 100%;
    }
    .other-blogs-start {
      padding-top: 10px;
    }
}