

.contactheader{
    text-align: center;
    margin: auto;
    color: #c9b6ff;
    padding-top: 100px;
}

.background{
    background-image: url("../public/img/Background.jpg");
    background-size: cover;
    // background-position: 0 0, 0 0;
    height: 95vh;
    width: 100%;
    // background-size: auto auto;
    position: relative;
    // top: 0;
}

.description{
    color: white;
    margin-top: 80px ;
    margin-left: 80px;
    font-size: 30px;
    line-height: 50px ;
    text-align: left;
}

.Calendly-container{
    background-color: white;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.Calendly-container p {
    color: black;
}

.mainbtn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 500;
  box-shadow: 0px 0px 14px -7px #c9b6ff;
  background-image: linear-gradient(45deg, #2e04ab 0%, #c9b6ff  51%, #2e04ab  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
}

.mainbtn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.mainbtn:active {

  transform: scale(0.95);
}

.wrapper {
    margin:0px 40px;
}

.addressCard{
    border: 1px solid gray;
    margin: 0px 10px 4px 20px;
}

.map{
    height: 100vh;
    width: 100%;
}

.Calendly{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    width: 100%;
    margin-left: 80px;
  }
  
.color{
    margin: 10px;
    padding: 15px 30px;
    text-align: left;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  border: 1px solid grey;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #c9b6ff;
  background-image: linear-gradient(45deg, #2e04ab 0%, #c9b6ff  51%, #2e04ab  100%);
  color: white;
}
.color:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
}

.color:active {

    transform: scale(0.95);
}

.edina_tm_button button {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    border-radius: 6px;
    border: 0px;
    padding: 8px 35px 7px 35px;
    transition: all 0.3s ease;
    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }

  .icon {
    width: 55px;
    height: 55px;
    background: #071b3c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      filter: invert(1);
      height: 25px;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .Calendly-container{
        width: 400px;
        margin-top: 100px;
    }
    .Calendly{
        display: flex;
        flex-direction: column;

    }
    
    .description{
        margin: 60px 0px 0px 30px;
        font-size: 25px;
        
    }
    .contact_form{
        margin-right: 0px;
    }


    
  }