:root {
    --primary-color: #c9b6ff; 
    --secondary-color: #fff;
    --third-color:black;
    --fourth-color:#7555FF;
    --fifth-color:gray;
    --sixth-color:#f0f0f0;
    --seventh-color:#0070f3;
    --eigth-color:#666666;
    --ninth-color:#1d3ede;
    --tenth-color:#7545FF;
    --eleventh-color:#0D0C54;
    --twelfth-color:whitesmoke;
    --thirteenth-color:#071b3c;
}

.project-container {
    display: grid;
    grid-template-rows: auto;
}

.project-list-item {
    width: 100%;
    border: 1px solid var(--fifth-color);
    margin-bottom: 40px;
    padding: 0px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(6, 6, 8, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.shiftLeft {
    float: left;
    margin-right: 30px; 
}

.shiftRight {
    float: right;
    margin-left: 30px; 
}

a {
    text-decoration: none;
    color: var(--third-color);
}

.mobile-project-view {
    display: none;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .details h1 {
        font-size: x-large;
    }
    .mobile-project-view {
        display: block;
    }
    .desktop-project-view {
        display: none;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .details h1 {
        font-size: x-large;
    }
    .details p {
        line-height: 25px;
    }
}